<div class="clearfix">

<h3> 活動基本資料 <%= ibutton("編輯", edit_admin_event_path(@event), :class => "btn btn-sm btn-default btn-primary pull-right",:iclass => "fa fa-pencil-square-o") %> </h3>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= event.name %></div>
  <div class="panel-body">
    <p><%= event.description %></p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">活動網址 TBD
    <li class="list-group-item">活動舉辦時間: <%= render_event_hold_time(event) %></li>
    <li class="list-group-item">活動地點 <%= render_event_location_info(event) %> </li>
  </ul>
</div>
