
<div class="alert alert-warning text-center" role="alert">
     您的訂單已保留，請在 <strong> <%= render_registration_temp_expired_at(@registration) %>  </strong>前完成繳費。若逾期未繳款，系統將取消您的訂單。
</div>


<h2> <%= @event.name %> </h2>

<br>

<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default  btn-circle">1</button>
            <p>選擇票種</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default  btn-circle" disabled="disabled">2</button>
            <p>填寫表單</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle" disabled="disabled">3</button>
            <p>進行繳費</p>
        </div> 



        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
            <p>取得票卷</p>
        </div> 

    </div>
</div>

<br><br>

<%= render :partial => "registrations/event_basic_info" %>

<%= render :partial => "registrations/registration_summary", :local => { :registration => @registration} %>



<% if !@registration.with_bank_info? %>

<br><br><br><br><br><br><br>
<div class="row">

<div class="col-md-3">
</div>
<div class="col-md-3">
    <%= render :partial => "payments/credit_card", :locals => { :order => @registration } %>
</div>

<div class="col-md-3">
    <%= render :partial => "payments/atm", :locals => { :order => @registration } %>
</div>

<div class="col-md-3">
</div>

</div>

<% end %>

 

   


<% if @registration.is_paid? %>
此訂單已完成付款
<% end %>

<% if !@registration.is_paid? %>

<br>




<% if @registration.with_bank_info? %>


<h3> 付費方式：ATM </h3>

<br>
銀行代碼：<br><%= @registration.bank_code %>

<br>

<br>
    銀行帳號：  <br>  <%= @registration.bank_no %>

<br>

<br>

   金額：  <br> TWD $<%= @registration.total_price %>

<br>

<br>

    繳款期限：<br><%= @registration.should_paid_at.strftime("%Y/%m/%d %H:%M:%S ") %>
<br>

<span>(
    系統以款項實際入帳時間為準。因為各家銀行轉帳入帳時間不同，為保障您的權益，請及早付款。)</span>

<br>
 <br> 退換票規定 ： TBD


    <% else %>

 

 


    <% end %>

<% end %>
