<!DOCTYPE html>
<html>
<head>
  <%= render_page_title_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>


    <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render "common/navbar" %>
    <%= notice_message %>
    <%= yield %>
  </div>

  <div class="footer">
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :handwrite_js %>
</body>
</html>
